html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* MY VARS */
:root {
  --lightBackground: hsl(214, 47%, 23%);
  --darkBackground: hsl(237, 49%, 15%);
  --ScissorsGradient: hsl(39, 89%, 49%);
  --ScissorsGradient2: hsl(40, 84%, 53%);
  --PaperGradient: hsl(230, 89%, 62%);
  --PaperGradient2: hsl(230, 89%, 65%);
  --RockGradient: hsl(349, 71%, 52%);
  --RockGradient2: hsl(349, 70%, 56%);
  --LizardGradient: hsl(261, 73%, 60%);
  --LizardGradient2: hsl(261, 72%, 63%);
  --Cyan: hsl(189, 59%, 53%);
  --CyanGradient2: hsl(189, 58%, 57%);
  --DarkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --HeaderOutline: hsl(217, 16%, 45%);
}

/* MY STYLING  */
body,
html {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(var(--lightBackground), var(--darkBackground));
  color: whitesmoke;
  font-family: "Barlow Semi Condensed", sans-serif;
}
main {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  margin: auto;
  margin-bottom: 10px;
}

.score-bar {
  display: flex;
  padding: 0.5em;
  justify-content: space-between;
  align-items: center;
  margin: 1.2em 0em;
  min-width: 90%;
  box-sizing: border-box;
  border: 3px solid var(--HeaderOutline);
  border-radius: 7px;
  font-size: 1.5rem;
  line-height: 0.8;
  font-weight: bold;
}
.score-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  color: var(--lightBackground);
  padding: 0.5em 1em;
  border-radius: 7px;
}
.game-name {
  text-align: start;
}
.score-bar-text {
  text-transform: uppercase;
}
.score-box-text {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  letter-spacing: 0.1em;
  color: var(--ScoreText);
}
.score-box-number {
  font-size: 3rem;
  font-weight: 700;
  color: var(--DarkText);
}
.rules-tab {
  background-color: whitesmoke;
  height: auto;
  position: fixed;
  top: 0;
  display: none;
}
.game-on {
  justify-content: space-between;
  display: flex;
  display: none;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-text {
  font-size: 1em;
  margin-top: 0.5em;
  display: none;
}
.player.result-text,
.house.result-text {
  text-transform: uppercase;
}
.result-and-restart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: max-content;
  display: none;
}
.round-result {
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.restart-button {
  background-color: whitesmoke;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0.75em 2em;
  border-radius: 7px;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: var(--DarkText);
}

/* .desktop-or-mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.game-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}
.first-row {
  justify-content: center;
  display: flex;
  max-width: 600px;
  margin: auto;
}
.margin-setter-first-row {
  width: 10vw;
}
.rock {
  background: linear-gradient(var(--RockGradient), var(--RockGradient2));
}
.paper {
  background: linear-gradient(var(--PaperGradient), var(--PaperGradient2));
}
.scissors {
  background: linear-gradient(
    var(--ScissorsGradient),
    var(--ScissorsGradient2)
  );
}

.move-container-gradient {
  width: 30vw;
  height: 30vw;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.margin-setter {
  margin: auto;
  max-width: 300px;
}
.second-row {
  margin-top: 10%;
}
.move-container-gradient.rock {
  /* margin: auto; */
}

.move-container {
  width: 80%;
  height: 80%;
  /* padding: 50px; */
  border-radius: 50%;
  /* border: 1em solid red; */
  box-sizing: border-box;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.hand-signs {
  width: 50%;
}
.rules-button {
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  border-radius: 7px;
  padding: 0.5em 1.5em;
  background-color: var(--darkBackground);
  border: 1px solid whitesmoke;
  text-transform: uppercase;
  margin-bottom: 20px;
  align-self: center;
  max-width: max-content;
}
/* MEDIA QUERIES */
@media (min-width: 576px) {
  .margin-setter-first-row {
    width: 0px;
  }

  .move-container-gradient {
    max-height: 230px;
    max-width: 230px;
    margin: 0px 30px;
  }
  .score-bar {
    align-self: center;
    font-size: 2.5rem;
    min-width: 60%;
    max-width: 60%;
  }
  .rules-button {
    position: absolute;
    right: 20px;
    bottom: 5%;
  }
  .result-and-restart {
    margin-bottom: 20px;
  }
  .attribution {
    margin-top: 10px;
  }
}
